@font-face {
    font-family: bold-font;
    src: url(/assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: regular;
    src: url(/assets/fonts/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: regular;
    color: var(--Dark-Slate-Grey);
}

:root {
    --Tomato: hsl(4, 100%, 67%);
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Dark-Slate-Grey);
}

main {
    background-color: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 0;
    border-radius: 8px;
}

main article {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    gap: 30px;
}

main article h1 {
    font-size: 60px;
    font-family: bold-font;
}

main article ul li {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 15px 0;
}

label {
    color: var(--Dark-Slate-Grey);
    font-weight: 600;
}

form .text span {
    float: right;
    color: var(--Tomato);
    display: none;
}

form input,
button {
    width: 100%;
    cursor: pointer;
}

.errorInput {
    border: 2px solid var(--Tomato);
}

.errorInput::placeholder {
    color: var(--Tomato);
}



form input {
    margin-top: 15px;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid var(--Grey);
}

form button {
    margin-top: 15px;
    padding: 15px;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--Dark-Slate-Grey);
    color: var(--White);
    transition: all 0.3s ease;
    border: none;
}

form button:hover {
    background-color: var(--Tomato);
}